@charset "UTF-8";

* {
	-webkit-user-select: none; /*prevent copy paste for all elements */
	-webkit-touch-callout: none;
}
/* FONT */
@font-face {
	font-family: Roboto-BoldCondensed;
	src: url( 'fonts/Roboto-Bold.ttf');
}
/* FONT */
@font-face {
	font-family: Roboto-Regular;
	src: url( 'fonts/Roboto-Regular.ttf');
}

body {font-family: 'Roboto-Regular';}

.wrapper0 {
	font-family: 'Roboto-Condensed-Bold';
}

.wrapper1 {
	font-family: 'Roboto-Regular';
}

.wrapper2 {
	font-family: 'Roboto-Condensed-Bold';
}

.wrapper3 {
	font-family: 'Roboto-Regular';
}